html {
    font-size: 20px;
    font-family: Open Sans;
}

@media (min-width: 765px) {
  html {
    font-size: 16px;
  }
}

body html {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: #f6f9fc;
}
a.navbar-brand > img {
    width: 20%;
    height: 1%;
}
ul li {
    width:30%;
}
ul li .nav-link {
    color: #2c0d63;
}
ul li a.nav-link:hover  {
    color: #d09e29;
}
h1 {
    color: #d09e29;
    text-align:center;
}
.form {
    width: 100%;
    border:none;
    /*border: 1px solid #d09e29;*/
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 3%;
    padding-left: 3%;
    box-shadow: .5px 5px 5px 1px grey;
    background-color: #ffff;
}
.form-control {
    box-shadow: .3px 3px 3px 1px #888888;
    /* border: 1px solid #d09e29;*/
    text-align: center;
    height: 3rem;
}
.form-group {
    margin-top: 3%;
    
}
.btn-one {
    background-color: #2c0d63;
    color: white;
    font-weight: 600;
}
    .btn-one:hover {
        color: #d09e29;
    }
.btn-two {
    margin-top:5%;
    background-color: #d09e29;
    color: white;
    font-weight:600;
    margin-left:86%;
}
.tab {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    border: 1px solid #f6f9fc;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 3%;
    padding-left: 3%;
    background-color: #ffff;
}
.tab:hover{
    box-shadow: 5px 5px 5px 1px grey;
    border: none;
}
.table{
    background-color: #eff3f6;
    padding-right: 1%;
}
.navbar{
    box-shadow:2px 2px 2px 1px grey;
}
.select{
    width:50%;
}
.job{
    text-decoration: none;
    color: #d09e29;
    border: 1px solid #d09e29;
    width: 20px;
    background: #fff;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15%;
}
.job:hover{
    background-color: #dfe4ed;
    color: #2c0d63;
    border: 1px solid #fff;
}

.recipient{
    background-color: #fff;
    border: 1px solid #dfe4ed;
    box-shadow:5px 5px 5px 3px #dfe4ed;
    padding: 3%;
}
.recipient:hover{
    border: 1px solid #888888;
    box-shadow:5px 5px 5px 3px #888888;
}
.remitter{
    background-color: #fff;
    border: 1px solid #dfe4ed;
    box-shadow:5px 5px 5px 3px #dfe4ed;
    padding: 3%;
}
.remitter:hover{
    border: 1px solid #888888;
    box-shadow:5px 5px 5px 3px #888888;
}
.transactions{
    background-color: #fff;
    border: 1px solid #dfe4ed;
    box-shadow:5px 5px 5px 3px #dfe4ed;
    padding: 3%;
}
.transactions:hover{
    border: 1px solid #888888;
    box-shadow:5px 5px 5px 3px #888888;
}